* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 1rem;
    font-weight: bold;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    max-width: 100vw;
    overflow: hidden;
}

.project {
    width: 120px;
    height: auto;
    transform: scale(0.7);
    transition: transform 0.4s ease, opacity 0.4s ease;
    opacity: 0;
    pointer-events: none;
    flex-shrink: 0;
    border-radius: 10px;
}

.project.center {
    transform: scale(1.2);
    opacity: 1;
    pointer-events: auto;
}

.project.near {
    transform: scale(0.85);
    opacity: 0.5;
}

.project.far {
    opacity: 0;
}

